[AI]
engine_cmd = "stockfish"
engine_cfg = {'UCI_LimitStrength': True, 'UCI_Elo': 1400}
suggestion_book_dir = "./Docs/Elo2400.bin"
engine_use_ext_book = true                 # overrides uci-setting 'OwnBook'
engine_ext_book_dir = "./Docs/Elo2400.bin"  # only works with 'engine_use_ext_book' = True
engine_time=0.5
engine_depth=None
engine_nodes=None

[Suggestion]
no_suggestions = false
engine_suggest_cmd = "stockfish"
eco_file='./Docs/scid.eco'
sug_time=5.0
sug_depth=None
sug_nodes=None
show_would_have_done_move=true

[Board]
dragging_detection = true
dragging_timeout = 0.3
play_animations = true
show_valid_moves = false
show_would_have_done_move = false

[Hosting]
no_server = false
hosts = "auto-hosts"
port = 8080

[LiChess.org]
lichess_token = ""